# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.

# Build Artifacts
target/

# vim
*.swo
*.swp

# vscode
.vscode/

# gdb
.gdb.*

# ctags
tags
tags.*

# config files
*.yaml

# rust
Cargo.lock
